/* header section style */

header {
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    border-radius: 16px;
    color: #ffff;
    text-align: center;
    font-family: Merriweather;

}

header h3 {
    padding-top: 200px;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

header h1 {
    margin-top: 16px;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    margin: 0px auto;

}


/* main section style */

.off-60 {
    text-align: center;
    font-family: Inter;
}

.off-60 h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 120px;

}

.off-60 p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0px;

}

.off-60 h3 {
    margin-top: 16px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;

}

.welcome {
    width: 100%;
    height: 600px;
    margin: 50px auto;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    color: #ffff;
    font-family: Merriweather;



}

.welcome-container {
    margin: auto;
    width: 1320px;
    height: 600px;


    display: flex;
    align-items: center;
    
}

.welcome h2 {
    width: 50%;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 20px;
    padding-left: 50px;

}

.welcome h4 {
    width: 50%;
    color: #ffffffcc;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 24px;
    padding-left: 50px;

}
.button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px; 
    font-weight: 700;    
    background: none;
    border: none;
    padding-left: 130px;
    padding-top: 30px;
}